@import "tailwindcss";

:root {
  --navbar: #222831;
  --backdrop: #393e46;
  --foreground: #eeeeee;
  --foreground2: #831c9d;
}

body {
  background: var(--backdrop);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --color-navbar: #222831;
  --color-backdrop: #393e46;
  --color-foreground: #eeeeee;
  --color-foreground2: #00adb5;
}

@theme {
  --color-button: #2c364a;
  --color-button-hover: #222a3b;
}
